# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.build/
build/
**/ios/Flutter/.last_build_id

# =========================
# IDE / Editor
# =========================
.idea/
*.iml
.vscode/
.vs/

# =========================
# OS / Misc
# =========================
.DS_Store
*.log
*.class
*.pyc
*.swp

# =========================
# Android
# =========================
android/.gradle/
android/local.properties

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# =========================
# Web
# =========================
web/.dart_tool/
